.profile {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: block;
    margin-top: 10px;
}

.greeting {
    display: flex;
    margin-bottom: 3%;
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    flex-basis: 75%;
}

.nav-img {
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}

.row{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .card {
    /*float: left;*/
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .card > img {
    margin-bottom: .75rem;
  }
  
  .card-text {
    font-size: 85%;
  }
  nav {
      margin-top: 25px;
  }
  .favourites {
      margin-top: 25px;
      margin-bottom: 5%;
  }
  body {
      background-color: white;
  }
  .top-short-nav {
      margin-bottom: 25px;
  }
  .second-nav {
    margin-top: 25px;
}
    .center {
        margin-left: auto;
        margin-right: auto;
        background-color: lightblue;
        width: 75%;
    }
    .restaurant-names {
        background-color: white;
        padding: 10px;
        margin-bottom: 20px;
    }
.app-name {
    background-color: turquoise;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 68%; /* Full width */
    padding: 10px 0 10px 0;
}
.skeleton {
    background-color: turquoise;
    color: white;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    padding-left: 40%;
    padding-right: 40%;
}
.display-list {
    text-align: center;
    width: 50%;
}
.list-of-restaurants {
    display: inline-block;
    text-align: left;
    font-size: 2em;
}
#header {
    display: inline-block;
    text-align: left;
}
body {
    background-image: url('../images/queue.jpg');

}
.empty {
    color: lightblue;
}
.input {
    margin-top: 20px;
    float: right;
    width: 200px;

}